In [8]:
import mysql.connector
import pandas as pd

try:
    # Connect to MySQL
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="nareshit",
        database="Movie_ratingDb"
    )
    cursor = conn.cursor()

    # -------------------------------------------------
    # Create Tables
    # -------------------------------------------------
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS movies (
            MovieId INT PRIMARY KEY,
            Title VARCHAR(30),
            Genre VARCHAR(30),
            Year INT
        )
    """)
    print("‚úÖ Table 'movies' created successfully.")

    cursor.execute("""
        CREATE TABLE IF NOT EXISTS users (
            UserId INT PRIMARY KEY,
            Name VARCHAR(30),
            Age INT,
            City VARCHAR(30)
        )
    """)
    print("‚úÖ Table 'users' created successfully.")

    cursor.execute("""
        CREATE TABLE IF NOT EXISTS ratings (
            RatingId INT PRIMARY KEY,
            UserId INT,
            MovieId INT,
            Rating DECIMAL(3,1),
            FOREIGN KEY (UserId) REFERENCES users(UserId),
            FOREIGN KEY (MovieId) REFERENCES movies(MovieId)
        )
    """)
    print("‚úÖ Table 'ratings' created successfully.")

    # -------------------------------------------------
    # Clear old data
    # -------------------------------------------------
    cursor.execute("DELETE FROM ratings")
    cursor.execute("DELETE FROM users")
    cursor.execute("DELETE FROM movies")
    conn.commit()
    print("üßπ Old data cleared successfully!")

    # -------------------------------------------------
    # Insert into movies
    # -------------------------------------------------
    insert_query = """
    INSERT INTO movies(MovieId, Title, Genre, Year)
    VALUES(%s, %s, %s, %s)
    """
    data = [
        (101, 'RRR', 'Action/Periodic', 2023),
        (102, 'Pushpa', 'Action', 2021),
        (103, 'Baahubali', 'Historical', 2015),
        (104, 'Vikram', 'Thriller', 2022),
        (105, 'Sita Ramam', 'Romance', 2022),
        (106, 'Kantara', 'Drama', 2022),
        (107, 'Jailer', 'Action', 2023),
        (108, 'Leo', 'Action', 2023),
        (109, 'Devara', 'Action', 2025),
        (110, 'Ala Vaikunthapurramuloo', 'Family', 2020),
        (111, 'Master', 'Action', 2021),
        (112, 'Inception', 'Sci-Fi', 2010),
        (113, 'Interstellar', 'Sci-Fi', 2014),
        (114, 'The Dark Knight', 'Action', 2008),
        (115, 'Titanic', 'Romance/Drama', 1997),
        (116, 'Avatar', 'Sci-Fi', 2009),
        (117, 'The Shawshank Redemption', 'Drama', 1994),
        (118, 'The Godfather', 'Crime/Drama', 1972),
        (119, 'Iron Man', 'Superhero', 2008),
        (120, 'Avengers: Endgame', 'Superhero', 2019),
        (121, 'Spider-Man: No Way Home', 'Superhero', 2021),
        (122, 'Oppenheimer', 'Historical', 2023),
        (123, 'Barbie', 'Comedy/Fantasy', 2023),
        (124, 'Dune: Part One', 'Sci-Fi', 2021),
        (125, 'Top Gun: Maverick', 'Action', 2022)
    ]
    cursor.executemany(insert_query, data)
    conn.commit()
    print("‚úÖ Movies data inserted successfully!")

    # -------------------------------------------------
    # Insert into users
    # -------------------------------------------------
    insert_query = """
    INSERT INTO users(UserId, Name, Age, City)
    VALUES(%s, %s, %s, %s)
    """
    data = [
        (1001, 'Raghu', 25, 'Hyderabad'),
        (1002, 'Priya', 23, 'Chennai'),
        (1003, 'Arjun', 27, 'Bangalore'),
        (1004, 'Meena', 24, 'Mumbai'),
        (1005, 'Vikram', 29, 'Delhi'),
        (1006, 'Divya', 22, 'Pune'),
        (1007, 'Ravi', 28, 'Kochi'),
        (1008, 'Anjali', 26, 'Visakhapatnam'),
        (1009, 'Rahul', 30, 'Hyderabad'),
        (1010, 'Sneha', 21, 'Chennai'),
        (1011, 'Kiran', 24, 'Bangalore'),
        (1012, 'Lakshmi', 23, 'Hyderabad'),
        (1013, 'Suresh', 27, 'Delhi'),
        (1014, 'Preethi', 22, 'Coimbatore'),
        (1015, 'Naveen', 28, 'Mysore'),
        (1016, 'Manisha', 26, 'Kolkata'),
        (1017, 'Harsha', 25, 'Vijayawada'),
        (1018, 'Pooja', 24, 'Trivandrum'),
        (1019, 'Karthik', 29, 'Chennai'),
        (1020, 'Deepika', 23, 'Hyderabad'),
        (1021, 'Sanjay', 30, 'Bangalore'),
        (1022, 'Neha', 22, 'Pune'),
        (1023, 'Ajay', 27, 'Delhi'),
        (1024, 'Roshni', 25, 'Visakhapatnam'),
        (1025, 'Abhishek', 28, 'Hyderabad')
    ]
    cursor.executemany(insert_query, data)
    conn.commit()
    print("‚úÖ Users data inserted successfully!")

    # -------------------------------------------------
    # Insert into ratings
    # -------------------------------------------------
    insert_query = """
    INSERT INTO ratings(RatingId, UserId, MovieId, Rating)
    VALUES(%s, %s, %s, %s)
    """
    data = [
        (1,1001,101,5.5), (2,1002,102,4.0), (3,1003,103,9.2),
        (4,1004,104,7.8), (5,1005,105,8.5), (6,1006,106,7.0),
        (7,1007,107,8.8), (8,1008,108,9.0), (9,1009,109,8.3),
        (10,1010,110,3.2), (11,1011,111,9.1), (12,1012,112,8.7),
        (13,1013,113,9.5), (14,1014,114,9.0), (15,1015,115,8.2),
        (16,1016,116,9.3), (17,1017,117,8.6), (18,1018,118,9.4),
        (19,1019,119,8.9), (20,1020,120,9.0), (21,1021,121,8.8),
        (22,1022,122,9.1), (23,1023,123,7.9), (24,1024,124,8.4),
        (25,1025,125,9.2)
    ]
    cursor.executemany(insert_query, data)
    conn.commit()
    print("‚úÖ Ratings data inserted successfully!")

    # -------------------------------------------------
    # Verify Data using Pandas
    # -------------------------------------------------
    query = "SELECT * FROM ratings"
    df = pd.read_sql(query, conn)
    print("\nüìä Ratings Table Data:")
    print(df)

except mysql.connector.Error as err:
    print(f"‚ö†Ô∏è Database Error: {err}")

finally:
    if conn.is_connected():
        cursor.close()
        conn.close()
        print("üîí MySQL connection closed.")

‚úÖ Table 'movies' created successfully.
‚úÖ Table 'users' created successfully.
‚úÖ Table 'ratings' created successfully.
üßπ Old data cleared successfully!
‚úÖ Movies data inserted successfully!
‚úÖ Users data inserted successfully!
‚úÖ Ratings data inserted successfully!

üìä Ratings Table Data:
    RatingId  UserId  MovieId  Rating
0          1    1001      101     5.5
1          2    1002      102     4.0
2          3    1003      103     9.2
3          4    1004      104     7.8
4          5    1005      105     8.5
5          6    1006      106     7.0
6          7    1007      107     8.8
7          8    1008      108     9.0
8          9    1009      109     8.3
9         10    1010      110     3.2
10        11    1011      111     9.1
11        12    1012      112     8.7
12        13    1013      113     9.5
13        14    1014      114     9.0
14        15    1015      115     8.2
15        16    1016      116     9.3
16        17    1017      117     8.6
17        18    1018      118     9.4
18        19    1019      119     8.9
19        20    1020      120     9.0
20        21    1021      121     8.8
21        22    1022      122     9.1
22        23    1023      123     7.9
23        24    1024      124     8.4
24        25    1025      125     9.2

C:\Users\Hp\AppData\Local\Temp\ipykernel_1284\1698269868.py:160: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

üîí MySQL connection closed.